<div class="p-8 mt-8 flex justify-center">
  <form class="shadow border w-4/12 p-4">
    <h1>New Expense</h1>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Title </mat-label>
        <input
          matInput
          name="title"
          type="text"
          [(ngModel)]="createExpense.title"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Description </mat-label>
        <input
          matInput
          name="description"
          type="text"
          [(ngModel)]="createExpense.description"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Amount (USD) </mat-label>
        <input
          matInput
          name="amount"
          type="number"
          [(ngModel)]="createExpense.amount"
        />
      </mat-form-field>
    </div>
    <div class="flex">
      <mat-form-field class="w-full">
        <mat-label>Choose Expense type</mat-label>
        <mat-select [(ngModel)]="tID" name="expenseType">
          @for(t of exoenseTypes; track t) {
          <mat-option [value]="t.id">{{ t.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex justify-center">
      <button mat-raised-button color="primary" (click)="create()">
        Create
      </button>
    </div>
  </form>
</div>
